<script>if(!(/Android|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent))){window.location.href=window.location.href.replace('m.','www.');}</script>
<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="/">
                <img src="/m_logo.png" class="h-40 mt-10 ml-10">
            </a>
            <%if(typeof(index)=='undefined'){%>
            <button type="button" class="navbar-toggle collapsed" onclick="$('#oclass').fadeIn();">
                <span class="font-size-40 mt--10 mr--10">≡</span>
            </button>
            <%}%>
        </div>

    </div>
</nav>


<%if(typeof(index)=='undefined'){%>
<div class="w-p100 h-p100 bg-grey-100 p-20" id="oclass" style="position:fixed;top:0px;left:0px;z-index:200;overflow:scroll;display:none;">
    <div onclick="$('#oclass').fadeOut();" class="text-right font-size-16">关闭</div>
    <h3 class="b">财务会计</h3>
    <div class="row  font-size-16">
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/KM.html">初级会计职称</a></div>
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/4Z.html">注册会计师</a></div>
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/GE.html">(初级)经济师</a></div>
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/lZ.html">(中级)经济师</a></div>
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/yv.html">税务师</a></div>
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/KNM.html">统计师</a></div>
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/x0Y.html">审计师</a></div>
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/j5V.html">理财规划师</a></div>
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/bd.html">中级会计职称</a></div>
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/59n.html">会计从业(超押卷)</a></div>
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/wN.html">会计从业资格考试(已停考)</a></div>
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/mZM.html">初级管理会计师</a></div>
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/zzW.html">高级会计</a></div>
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/695.html">资产评估师</a></div>
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/09D.html">(高级)经济师</a></div>
    </div>
    <hr>
    <h3 class="b">医药卫生</h3>
    <div class="row  font-size-16">
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/L6.html">医师类</a></div>
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/Qz.html">执业药师</a></div>
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/73p.html">护理类</a></div>
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/Jxr.html">检验类</a></div>
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/ZmA.html">药学类</a></div>
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/1Q6.html">中药学类</a></div>
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/Va8.html">卫生招聘考试</a></div>
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/Wzg.html">主治类</a></div>
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/KBR.html">执业药师(三天提分卷)</a></div>
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/L1j.html">健康管理师</a></div>
    </div>
    <hr>
    <h3 class="b">职称英语</h3>
    <div class="row  font-size-16">
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/jV.html">理工类</a></div>
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/MBD.html">卫生类</a></div>
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/9jb.html">综合类</a></div>
    </div>
    <hr>
    <h3 class="b">从业资格</h3>
    <div class="row  font-size-16">
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/MD.html">心理咨询师</a></div>
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/BY.html">期货从业资格</a></div>
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/86.html">教师资格</a></div>
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/AQ.html">(初级)银行从业资格</a></div>
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/3e.html">银行招聘考试</a></div>
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/Jr.html">证劵从业( 旧 )</a></div>
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/ZA.html">企业人力资源管理师</a></div>
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/16.html">社会工作者</a></div>
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/8x6.html">报检员</a></div>
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/vYW.html">证劵从业( 新 )</a></div>
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/wMN.html">证券投资顾问</a></div>
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/KBM.html">证券分析师</a></div>
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/vYn.html">教师招聘</a></div>
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/665.html">营养师</a></div>
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/wM7.html">(中级)银行从业</a></div>
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/bO1.html">导游资格证</a></div>
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/nNA.html">软件水平考试</a></div>
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/eEo.html">高校辅导员溪溪老师</a></div>
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/OQJ.html">演出经纪人</a></div>
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/9b.html">法律职业资格(原司法考试)</a></div>
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/BMY.html">报关员</a></div>
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/dNN.html">基金从业资格</a></div>
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/zwW.html">投资银行业务-保荐代表人</a></div>
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/NQ7.html">高校教师资格证</a></div>
    </div>
    <hr>
    <h3 class="b">公务员</h3>
    <div class="row  font-size-16">
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/Rw.html">国家公务员</a></div>
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/GmE.html">省公务-行测</a></div>
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/l8Z.html">事业单位公开招聘</a></div>
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/yRv.html">政法干警 公安</a></div>
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/rZV.html">陕西省-社区专职工作人员招聘</a></div>
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/JeN.html">三支一扶</a></div>
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/ZWB.html">军队文职人员招聘</a></div>
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/18E.html">国家电网招聘</a></div>
    </div>
    <hr>
    <h3 class="b">学历类</h3>
    <div class="row  font-size-16">
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/mK.html">研究生入学</a></div>
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/rgV.html">同等学力申硕</a></div>
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/d7B.html">成考(专升本)</a></div>
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/vWn.html">成考(高起点)</a></div>
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/VZ8.html">自考（医学）</a></div>
    </div>
    <hr>
    <h3 class="b">建筑工程</h3>
    <div class="row  font-size-16">
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/0Y.html">监理工程师</a></div>
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/a2.html">中级安全工程师</a></div>
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/na.html">环境影响评价工程师</a></div>
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/OL.html">注册电气工程师</a></div>
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/YK.html">咨询工程师</a></div>
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/5n.html">招标师</a></div>
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/zvR.html">物业管理师</a></div>
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/vNW.html">注册消防工程师</a></div>
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/Vv3.html">注册结构工程师</a></div>
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/6ZG.html">质量工程师</a></div>
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/00Y.html">注册城乡规划师</a></div>
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/wDN.html">注册环保工程师</a></div>
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/p8n.html">电力系统职业技能鉴定</a></div>
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/EYZ.html">房地产经纪人</a></div>
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/Qxz.html">注册测绘师</a></div>
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/2ZR.html">投资项目管理师</a></div>
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/GoW.html">房地产经纪协理</a></div>
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/g50.html">二级造价工程师</a></div>
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/opK.html">试验检测师（含助理）</a></div>
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/Y57.html">BIM工程师</a></div>
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/7Ba.html">土地登记代理人</a></div>
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/E3l.html">土木工程师（水利水电）</a></div>
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/QVZ.html">公用设备工程师</a></div>
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/23p.html">设备监理师</a></div>
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/xGL.html">安全员</a></div>
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/jL0.html">施工员</a></div>
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/M5y.html">质量员</a></div>
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/6G.html">一级造价工程师</a></div>
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/r00.html">岩土工程师</a></div>
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/V3.html">二级建造师</a></div>
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/WV5.html">房地产估价师</a></div>
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/9Bx.html">资料员</a></div>
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/Bam.html">劳务员</a></div>
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/8Bx.html">材料员</a></div>
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/AmY.html">标准员</a></div>
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/3KK.html">机械员</a></div>
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/RxM.html">一级注册建筑师</a></div>
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/DLm.html">二级注册建筑师</a></div>
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/5V8.html">消防设施操作员</a></div>
    	<div class="col-xs-6 h-30 no-wrap" style="overflow:hidden;">
    		<a href="/subclass/r0.html">一级建造师</a></div>
    </div>
    <%}%>
</div>